/**
 * Import custom media queries for the new page.
 * FTW-template use route-based code-splitting, every page create their own CSS files.
 * This import ensures that the page and components inside will get correct media queries,
 * when the app is build.
 */
 @import '../../styles/customMediaQueries.css';
 
 .root {
   padding: 0px;
 
   /* Use CSS variable defined in src/styles/marketplaceDefaults.css */
   background-color: rgb(0, 0, 0);
 }


 h1north {
  position: relative; 
  font-weight: var(--fontWeightBold);
  font-size: 60px;
  line-height: 50px;
  letter-spacing: -0.7px;
  color:white;
  width: auto;
}




h3north {
  position: relative;
  font-size: 25px !important;
  color: white;

  
}

button1 {
  position: relative;
  background-color:rgb(64, 112, 136);
  background:rgb(64, 112, 136);
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.0rem;
  font-weight: 600;
  letter-spacing: .0333em;
  line-height: 1.0;
  margin-top: 10px;
  opacity: 1;
  padding: 1.1em 1.44em;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: opacity .1s linear;
  font-family: 'poppins', Helvetica, Arial, sans-serif;
  font-weight: var(--fontWeightSemiBold);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  

}

button1:hover {
background: rgb(34, 33, 33);
color:white;
font-family: 'poppins', Helvetica, Arial, sans-serif;
font-weight: var(--fontWeightSemiBold);
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2px;
transition: .1s linear;

}
.heronorth {
  background-size: cover;
  background-position: center center;
  flex-grow: 1;
  justify-content: flex-end;
  padding-bottom: 32px;
}

.ColumnContainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.ThreeColumns {
  float: left;
  width: 33.33%;
  padding: 20px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannerimage1 {
  width: 100%;
  height: 65vh;
  object-fit: cover;
  }
.LogoUmeaKommun {
  max-height: 150px;
  max-width: 250px;
  width: 90%;
  filter: grayscale(100%);
}
.LogoRikshem {
  max-height: 150px;
  max-width: 250px;
  width: 90%;
  filter: grayscale(100%);
}
.LogoSkanska {
  max-height: 150px;
  max-width: 250px;
  width: 90%;
  filter: grayscale(100%);
}

.bannerimage1 {
  position: absolute;
  width: 100%;
  max-height: 60vh;
  object-fit: cover;
  min-height: 55vh;

}
.LogoRikshem {
  max-height: 150px;
  max-width: 250px;
  width: 90%;
  filter: grayscale(100%);
}

.LogoSkanska {
  max-height: 150px;
  max-width: 250px;
  width: 90%;
  filter: grayscale(100%);
}


.bannertext {
  vertical-align: middle;
  padding-left: 80px;
  margin-top: 175px;
  line-height: 40px;
  margin-bottom: 250px;
}
.TwoColumns {
  float: left;
  width: 50%;
  padding: 20px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ProjectMap {
  display: block;
}

.TomteboStrand {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ProjectData {
  text-align: left;
}

#status {
  border: 1px solid #ddd;
  padding: 8px;
}