/**
 * Import custom media queries for the new page.
 * FTW-template use route-based code-splitting, every page create their own CSS files.
 * This import ensures that the page and components inside will get correct media queries,
 * when the app is build.
 */
 @import '../../styles/customMediaQueries.css';
 
 .root {
   padding: 0px;
 
   /* Use CSS variable defined in src/styles/marketplaceDefaults.css */
   background-color: rgb(0, 0, 0);
 }


 h1north {
  position: absolute; 
  font-weight: var(--fontWeightBold);
  font-size: 70px;
  line-height: 36px;
  letter-spacing: -0.7px;
  margin-top: 250px;
  margin-bottom: 14px;
  padding-left: 80px;
  padding-top: 100px;
  color:white;
}




h3north {
  position: absolute;
  font-size: 35px !important;
  padding-top: 420px !important;
  padding-left: 80px;
  color: white;
  
}

button1 {
  position: absolute;
  margin-top: 500px !important;
  margin-left: 80px !important;
  background-color:rgb(64, 112, 136);
  -webkit-appearance: none;
  -moz-appearance: none;
  background:rgb(64, 112, 136);
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.0rem;
  font-weight: 600;
  letter-spacing: .0333em;
  line-height: 1.0;
  margin: 0;
  opacity: 1;
  padding: 1.1em 1.44em;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: opacity .1s linear;
  font-family: 'poppins', Helvetica, Arial, sans-serif;
  font-weight: var(--fontWeightSemiBold);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

button1:hover {
background: rgb(34, 33, 33);
color:white;
font-family: 'poppins', Helvetica, Arial, sans-serif;
font-weight: var(--fontWeightSemiBold);
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2px;
transition: .1s linear;

}
.heronorth {
  background-size: cover;
  background-position: center center;
  flex-grow: 1;
  justify-content: flex-end;
  padding-bottom: 32px;
}

.CompanyLogos {
  display: block;
  width: 100%;
  padding: 20px;
  margin : 30px;
}

.CompanyColumns {
  display: block;
  float: left;
  width: 33.33%;
}

