/**
 * Import custom media queries for the new page.
 * FTW-template use route-based code-splitting, every page create their own CSS files.
 * This import ensures that the page and components inside will get correct media queries,
 * when the app is build.
 */
 @import '../../styles/customMediaQueries.css';
 
 .root {
   padding: 0px;
 
   /* Use CSS variable defined in src/styles/marketplaceDefaults.css */
   background-color: rgb(0, 0, 0);
 }


 h1north {
  position: absolute; 
  font-weight: var(--fontWeightBold);
  font-size: 70px;
  line-height: 36px;
  letter-spacing: -0.7px;
  margin-top: 250px;
  margin-bottom: 14px;
  padding-left: 80px;
  padding-top: 100px;
  color:white;
}




h3north {
  position: absolute;
  font-size: 35px !important;
  padding-top: 420px !important;
  padding-left: 80px;
  color: white;
  
}

img {
  width: 100%;
}