/**
 * Import custom media queries for the new page.
 * FTW-template use route-based code-splitting, every page create their own CSS files.
 * This import ensures that the page and components inside will get correct media queries,
 * when the app is build.
 */
 @import '../../styles/customMediaQueries.css';
 
 .root {
   padding: 0px;

 
   /* Use CSS variable defined in src/styles/marketplaceDefaults.css */
   background-color: rgb(0, 0, 0);
 }

 /* Animation for the hero elements */

@keyframes SectionHero_animationTitle {
  0% {
    visibility: hidden;
    opacity: 0;
    top: -20px;
  }
  100% {
    visibility: visible;
    opacity: 1;
    top: 0;
  }
}

/* Shared animation rules */

.SectionHero_animation__3or2Z {
  animation-name: SectionHero_animationTitle;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;

  visibility: hidden;
  opacity: 1;
  position: relative;
}

 h1north {
  font-weight: var(--fontWeightBold);
  font-size: 60px;
  line-height: 50px;
  letter-spacing: -0.7px;
  color:white;
  width: auto;
  animation-name: SectionHero_animationTitle;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 500ms;

  visibility: hidden;
  opacity: 1;
  position: relative;
  
}

@media only screen and (max-width: 700px) {
  h1north {
    font-size: 40px;
  }
}



h3north {
  position: relative;
  font-size: 25px;
  color: white;
  animation-name: SectionHero_animationTitle;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 650ms;

  visibility: hidden;
  opacity: 1;
  position: relative;
}


@media only screen and (max-width: 700px) {
  h3north {
    font-size: 15px;
   
  }
}
/* Container of banner header, subheading and CTA */
.bannertext {
  vertical-align: middle;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 200px;
  line-height: 40px;
  margin-bottom: 300px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  
}

button1 {
  position: relative;
  background-color:rgb(64, 112, 136);
  background:rgb(64, 112, 136);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.0rem;
  font-weight: 600;
  letter-spacing: .0333em;
  line-height: 1.0;
  margin-top: 10px;
  opacity: 1;
  padding: 17px 17px;
  text-align: center;
  font-family: 'poppins', Helvetica, Arial, sans-serif;
  font-weight: var(--fontWeightSemiBold);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  align-self: center;
  animation-name: SectionHero_animationTitle;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-delay: 800ms;

  visibility: hidden;
  opacity: 1;
  position: relative;
  
}

@media only screen and (min-width: 600px) {
  .bannertext {
    margin-bottom: 400px;
  }
}

@media only screen and (max-width: 600px) {
  button1 {
    width: 100%;
  }
  .bannertext {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 200px;
    position: static;
    
  }
}

button1:hover {
background: rgb(34, 33, 33);
color:white;
font-family: 'poppins', Helvetica, Arial, sans-serif;
font-weight: var(--fontWeightSemiBold);
font-size: 16px;
line-height: 24px;
letter-spacing: 0.2px;
transition: .1s linear;


}

.bannerimage1 {
  position: absolute;
  width: 100%;
  max-height: 60vh;
  object-fit: cover;
  min-height: 55vh;
}

@media only screen and (max-width: 600px) {
  .bannerimage1 {
    min-height: 73vh;

    
  }
}


.ColumnContainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;

}
@media only screen and (max-width: 600px) {
  .ColumnContainer {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.ThreeColumns {
  float: left;
  width: 33.33%;
  padding: 20px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LogoUmeaKommun {
  max-height: 150px;
  max-width: 250px;
  width: 90%;
  filter: grayscale(100%);
}
.LogoRikshem {
  max-height: 150px;
  max-width: 250px;
  width: 90%;
  filter: grayscale(100%);
}
.LogoSkanska {
  max-height: 150px;
  max-width: 250px;
  width: 90%;
  filter: grayscale(100%);
}


.LogoRikshem {
  max-height: 150px;
  max-width: 250px;
  width: 90%;
  filter: grayscale(100%);
}

.LogoSkanska {
  max-height: 150px;
  max-width: 250px;
  width: 90%;
  filter: grayscale(100%);
}



.TwoColumns {
  float: left;
  width: 50%;
  padding: 20px;
  margin-bottom: 100px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.ProjectMap {
  display: block;
}

.TomteboStrand {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ProjectData {
  text-align: left;
}

#status {
  border: 1px solid #ddd;
  padding: 8px;
}


.ColumnContainerBanner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;

}


.TwoColumnsBanner {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .TwoColumnsBanner {
    width: 100%;
  }
}

  table {
    color: white;
    border-color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    position:relative;
  }

  th, td {
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
  
th {
  font-size: 30px;
}

.TwoColumns {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .TwoColumns {
    width: 100%;
  }
}


p {
  color:white;
}


